@font-face {
font-family: 'zapf-humanist-601-bt';
src: url(../font/zapf-humanist-601-bt.eot);
src: url(../font/zapf-humanist-601-bt.eot?#iefix) format('embedded-opentype'),
     url(../font/zapf-humanist-601-bt.otf) format('otf'),
     url(../font/zapf-humanist-601-bt.svg#zapf-humanist-601-bt) format('svg'),
     url(../font/zapf-humanist-601-bt.ttf) format('truetype'),
     url(../font/zapf-humanist-601-bt.woff) format('woff'),
     url(../font/zapf-humanist-601-bt.woff2) format('woff2');

     font-weight: 601;
     font-style: normal;
}