.header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 5.3333333333vw;
    padding-top: 37px;
    padding-bottom: 2.3125rem;
    font-size: max(1.4vw, 20px);
    line-height: 1.4285714286;
    color: $color-white;
    z-index: 1000;
    .link-logo{
        svg{
            fill: $color-white;
        }
    }
    .gnb-list{
        display: flex;
        min-height: 0;
    }
    .gnb-item{
        & + li{
            margin-left: 50px;
        }
    }
    .link-gnb{
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            pointer-events: none;
            position: absolute;
            bottom: -0.3125rem;
            left: 0;
            width: 100%;
            height: 1px;
            background: $color-white;
            opacity: 0;
            transform: translateY(0.625rem) translateZ(0);
            transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover{
            .link-default{
                opacity: 0;
                transform: translateY(-100%) translateZ(0);
            }
            .link-hover{
                opacity: 1;
                transform: translate(-50%, -50%) translateY(0%) translateZ(0);
            }
            &::before{
                opacity: 1;
                transform: translateY(0) translateZ(0);
            }
        }
    }
    .link-wrapper{
        position: relative;
        display: inline-block;
        overflow: hidden;
    }
    .link-default{
        display: block;
        transform: translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .link-hover{
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        white-space: nowrap;
        opacity: 0;
        transform: translate(-50%, -50%) translateY(100%) translateZ(0);
        transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .btn-area{
        display: flex;
        align-items: center;
    }
    .link-order{
        position: relative;
        padding: 1.0625rem 2.5625rem 1.1875rem;
        border-radius: 2.2vw;
        transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        &::after{
            content: '';
            position: absolute;
            inset: 0;
            background: $color-white;
            border-radius: 4vw;
            opacity: 0.15;
            transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
        &:hover{
            color: $color-dark;
            &::after{
                opacity: 1;
            }
        }
    }
    .pc{
        position: relative;
        z-index: 1;
    }
}

//지울거임