@mixin ellip($line-height,$lines) {
    text-overflow: ellipsis;
    overflow: hidden;

    @if($lines > 1){
        line-height: $line-height;
        max-height: $line-height * $lines;
        display: -webkit-box;
        -webkit-line-clamp: $lines;
        -webkit-box-orient: vertical; /* autoprefixer: off */
    }@else{
        white-space: nowrap;
    }
}

@mixin position-Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1.5rem;
}

@mixin grid-7{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1.5rem;
}

@mixin grid-6{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5rem;
}

//767px
$laptop:1265px;
$laptop2:1024px;
$tablet:768px;
$moblie:767px;

@mixin mobile {
    @media (max-width:$moblie){
        @content;
    }
}

@mixin tablet {
    @media (min-width:$tablet) and (max-width:$laptop){
        @content;
    }
}

@mixin laptop2 {
    @media (min-width:$tablet) and (max-width:$laptop2){
        @content;
    }
}

