$font-en1:'PPNeueMontreal-Medium', arial, sans-serif;
$font-en2:'zapf-humanist-601-bt', arial, sans-serif;

$color-dark: #000;
$color-white:#fff;
$color-gray1:#75787a;
$color-gray2:#A7AAAD;
$color-gray3:#D8D8D8;
$color-gray4:#9EA29F;
$color-brown:#93694f;